
html,
body {
	margin: 0px;
	padding: 0px;
}
html {
	background: #F0F0F0;
}
* {
	font-family: '맑은 고딕';
}
.header {
	height: 56px;
	background: #9C77D5;
	color: #FFF;
	box-shadow: 0px 0px 4px #000;
	line-height: 56px;
	padding-left: 30px;
	font-size: 18px;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 9;
}
.content {
	position: fixed;
	left: 0px;
	top: 56px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}
.content>.group {
	position: relative;
	background: #FFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	max-width: 680px;
	margin-left:260px;
	margin-top: 48px;
}
.content>.group::before {
	display: block;
	content: attr(label);
	position: absolute;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	top: -48px;
}
.content>.group>.item {
	padding: 15px;
	border-bottom: 1px solid #E8E8E8;
	text-align: right;
	line-height: 20px;
	min-height: 20px;
	cursor: pointer;
}
.content>.group>.item:last-child {
	border-bottom: 0px;
}
.content>.group>.item::before {
	content: attr(label);
	float: left;
}
.content>.group>.item>.switch {
	display: inline-block;
	width: 30px;
	height: 12px;
	border-radius: 15px;
	background: rgba(128, 128, 128, .5);
	margin-right: 8px;
	margin-top: 5px;
	position: relative;
}
.content>.group>.item>.switch::before {
	height: 16px;
	width: 16px;
	left: -4px;
	position: absolute;
	background: #EFEFEF;
	content: " ";
	top: -2px;
	border-radius: 8px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	transition: .1s;
	z-index: 4;
}
.content>.group>.item>.switch[data-checked=true]::before {
	left: 16px;
	background: rgb(79, 38, 150);
}
.content>.group>.item>.switch::after {
	content: " ";
	position: Absolute;
	left: 0px;
	top: 0px;
	height: 12px;
	border-radius: 6px;
	background: rgba(102, 0, 255, 0.5);
	width: 0px;
	transition: .1s;
}
.content>.group>.item>.switch[data-checked=true]::after {
	width: 24px;
}
.viewAdvanced {
	color: #333;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.viewAdvanced::before {
	content: attr(label);
}
.viewAdvanced::after {
	font-size: 10px;
	margin-left: 10px;
	content: "▼";
}
.viewAdvanced[data-toggle=true]::after {
	content: "▲";
}
.item>input {
	float: right;
	margin-right: 10px;
}
.view {
	display: inline-block;
	height: 21px;
	float: right;
	font-size: 12px;
	color: #AAA;
	margin-right: 10px;
}
.view::after {
	content: attr(after);
}
.view::before {
	content: attr(before);
}
input[type=range] {
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	height: 12px;
	background: rgba(128, 128, 128, .5);
	border-radius: 6px;
	margin-top: 4px;
}
input[type=range]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #EFEFEF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
input[type=range]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background: rgba(75, 0, 187, .5);
}
.content>.group>.item>select {
	-webkit-appearance: none;
	outline: none;
	border: none;
	border-bottom: 2px solid rgba(102, 0, 255, 0.5);
	width: 250px;
	text-align: center;
	background-image: url(../image/down.svg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
.coloreditor {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 319px;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 5px;
}
.coloreditor::before {
	content: attr(label);
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 28px;
}
.coloreditor:last-child {
	margin-bottom: 0px;
}
.coloreditor>.backbg {
	background: #333;
	position: absolute;
	width: 300px;
	top: 28px;
	right: 0px;
	bottom: 0px;
}
.coloreditor>.backbg::before {
	background: #333;
	position: absolute;
	content: " ";
	right: 0px;
	top: -28px;
	height: 28px;
	width: 90px;
}
.coloreditor,
.coloreditor * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.coloreditor>.pickcolorx {
	width: 256px;
	height: 256px;
	position: absolute;
	right: 39px;
	top: 58px;
	background: linear-gradient(to right, #FFF 0%, #F00 100%);
	overflow: hidden;
}
.coloreditor>.pickcolorx>.colorarea {
	width: 256px;
	height: 256px;
	background: linear-gradient(to bottom, transparent 0%, #000 100%);
}
.coloreditor>.pickcolorx>.colorpicker {
	width: 7px;
	height: 7px;
	position: absolute;
	left: 255px;
	top: 0px;
	margin-left: -4px;
	margin-top: -4px;
	border: 1px solid #FFF;
	border-radius: 7px;
	box-shadow: 0px 0px 1px #555, 0px 0px 1px #333, 0px 0px 1px #333, 0px 0px 1px #333, 0px 0px 1px #333;
}
.coloreditor>.hue {
	position: absolute;
	right: 5px;
	top: 58px;
	height: 256px;
	width: 12px;
	background: linear-gradient(to bottom, #F00 0%, #FF0 17%, #0F0 33%, #0FF 50%, #00F 67%, #F0F 83%, #F00 100%);
}
.coloreditor>.transparent {
	position: absolute;
	top: 58px;
	right: 22px;
	height: 256px;
	background: url(../image/transparentbg.png);
	width: 12px;
}
.coloreditor>.transparent>.pickcolor {
	background: linear-gradient(to bottom, #F00 0%, transparent 100%);
	width: 100%;
	height: 100%;
}
.coloreditor>.pickedcolorbg {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 24px;
	width: 86px;
	background: url(../image/transparentbg.png);
	color: #FFF;
}
.coloreditor>.pickedcolorbg>.pickedcolor {
	height: 100%;
	text-align: left;
	font-size: 13px;
	line-height: 24px;
	padding-left: 6px;
	text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000;
}
.coloreditor>.pickarea {
	position: Absolute;
	right: 39px;
	top: 58px;
	width: 256px;
	height: 256px;
	z-index: 10;
}
.coloreditor>.huearea {
	position: Absolute;
	right: 5px;
	top: 58px;
	width: 12px;
	height: 256px;
	z-index: 11;
}
.coloreditor>.transparentarea {
	position: Absolute;
	right: 22px;
	top: 58px;
	width: 12px;
	height: 256px;
	z-index: 10;
}
.coloreditor .pickslider {
	width: 12px;
	position: absolute;
	left: -1px;
	top: 0px;
	right: 0px;
	height: 1px;
	border: 1px solid #FFF;
	box-shadow: 0px 0px 1px #555, 0px 0px 1px #333, 0px 0px 1px #333, 0px 0px 1px #333, 0px 0px 1px #333;
}
.coloreditor>.inputrgb {
	position: absolute;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, .5);
	border: 0px;
	padding: 2px;
	color: #FFF;
	z-index: 15;
	width: 68px;
	height: 20px;
	outline: none;
}
.coloreditor>.cr {
	right: 226px;
	top: 33px;
	width: 70px;
}
.coloreditor>.cg {
	right: 152px;
	top: 33px;
	width: 70px;
}
.coloreditor>.cb {
	right: 78px;
	top: 33px;
	width: 70px;
}
.coloreditor>.ca {
	right: 5px;
	top: 33px;
}
.coloreditor>.xa,
.coloreditor>.xr,
.coloreditor>.xg,
.coloreditor>.xb {
	color: #FFF;
	position: absolute;
	top: 33px;
	width: 8px;
	height: 20px;
	line-height: 20px;
	right: 229px;
	text-decoration: none;
	font-style: normal;
	font-size: 12px;
}
.coloreditor>.xg {
	right: 155px;
}
.coloreditor>.xb {
	right: 81px;
}
.coloreditor>.xa {
	right: 10px;
}
.coloreditor>.reset {
	position: absolute;
	right: 88px;
	top: 0px;
	width: 28px;
	height: 28px;
	background: #333;
	color: #FFF;
	text-align: center;
}
.coloreditor>.reset>i {
	font-size: 24px;
	line-height: 28px;
}
.imageurlpicker {
	display: inline-block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.imageurlpicker::before {
	content: attr(label);
	position: absolute;
	left: 0px;
	top: 0px;
	line-height: 28px;
}
.imageurlpicker>.imagearea {
	width: 400px;
	height: 300px;
	background: url(../image/transparentbg.png);
	border: 2px solid #333;
	margin-left: 246px;
	overflow: hidden;
}
.imageurlpicker>.imagearea>.image {
	width: 100%;
	height: 100%;
}
.imageurlpicker>.inputarea {
	width: 100%;
	height: 28px;
	background: #333;
	position: relative;
	margin-top: 30px;
}
.imageurlpicker>.inputarea>input {
	position: absolute;
	left: 2px;
	top: 2px;
	border: 0px;
	outline: none;
	width: calc(100% - 74px);
	padding: 4px;
	box-sizing: border-box;
	height: 26px;
}
.imageurlpicker>.inputarea>.chk,
.imageurlpicker>.inputarea>.deleteimg {
	position: absolute;
	color: #FFF;
	top: 3px;
}
.imageurlpicker>.inputarea>.chk {
	right: 40px;
}
.imageurlpicker>.inputarea>.deleteimg {
	right: 8px;
}
.imageurlpicker>.remotectrl {
	position: absolute;
	top: 58px;
	right: 404px;
	left: 0px;
	bottom: 0px;
	background: #333;
	cursor: default;
}
.imageurlpicker>.remotectrl>textarea {
	position: absolute;
	left: 2px;
	outline: none;
	bottom: 2px;
	height: 120px;
	width: 244px;
	border: 0px;
	resize: none;
}
.imageurlpicker>.remotectrl>.label {
	position: absolute;
	bottom: 120px;
	left: 0px;
	color: #FFF;
	height: 20px;
	line-height: 18px;
	padding-left: 10px;
	font-size: 14px;
	content: "CSS Filter"
}
.imageurlpicker>.remotectrl>.imagealign {
	position: absolute;
	left: 4px;
	top: 22px;
	text-align: left;
	width: 102px;
}
.imageurlpicker>.remotectrl>.imagealign::before,
.imageurlpicker>.remotectrl>.sizeoption::before {
	position: absolute;
	top: -20px;
	left: 0px;
	color: #FFF;
	height: 20px;
	line-height: 18px;
	padding-left: 10px;
	font-size: 14px;
	content: attr(label);
}
.imageurlpicker>.remotectrl>.imagealign>button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 2px;
	margin-bottom: 2px;
	border: none;
	font-size: 20px;
	line-height: 30px;
	outline: none;
}
.imageurlpicker>.remotectrl>.imagealign>button[data-checked=true] {
	background: rgba(205, 171, 255, 0.5);
	color: #FFF;
}
.imageurlpicker>.remotectrl>.sizeoption {
	width: 130px;
	left: 112px;
	top: 22px;
	position: absolute;
}
.imageurlpicker>.remotectrl>.sizeoption>button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: none;
	height: 32px;
	margin-bottom: 2px;
	outline: none;
}
.imageurlpicker>.remotectrl>.sizeoption>button[data-checked=true] {
	background: rgba(205, 171, 255, 0.5);
	color: #FFF;
}
.savebtn,
.resetbtn {
	position: fixed;
	right: 30px;
	top: 13px;
	z-index: 999;
	border: none;
	background: rgb(171, 115, 255);
	height: 30px;
	line-height: 26px;
	color: #FFF;
	box-shadow: 0px 0px 3px rgba(75, 0, 187, .5);
	font-size: 13px;
	width: 80px;
	outline: none;
	border-radius: 3px;
	transition: .4s;
}
.savebtn:hover,
.resetbtn:hover {
	filter: brightness(1.2);
	-webkit-filter: brightness(1.2);
}
.resetbtn {
	right: 130px;
}
.alarm::after {
	animation-name: alert;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	border: 1px solid #FFF;
	box-sizing: border-box;
	z-index: 1000;
	position: absolute;
	content: " ";
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	border-radius: 3px;
	filter: drop-shadow(0px 0px 3px rgb(165, 97, 255));
	-webkit-filter: drop-shadow(0px 0px 3px rgb(165, 97, 255));
}
.item>input[type=text] {
	border: none;
	border-bottom: 2px solid rgba(102, 0, 255, 0.5);
	width: 250px;
	padding: 2px;
}
.remotecontrol {
	position:fixed;
	left:20px;
	top:80px;
	width:215px;
	background:#FFF;
	line-height:42px;
	z-index:10;
	border-radius:1px;
	box-shadow:0px 1px 2px rgba(0,0,0,0.5);
}
.remotecontrol>div {
	padding-left:15px;
	box-sizing:border-box;
	border-bottom:1px solid #E8E8E8;
	cursor:pointer;
}
.remotecontrol>div[data-selected=true] {
	border-left:4px solid #9C77D5;
	padding-left:11px;
}
.remotecontrol>div:last-child {
	border-bottom:0px;
}
#sortable-dps, #sortable-hps {
	width:300px; border:1px solid #EEE; height:400px; margin:0px; padding:8px; overflow:auto; float:left;
}
#sortable-dps>li, #sortable-hps>li {
	padding:5px; border:1px solid #9C77D5; text-align:left;
	text-decoration:none; list-style:none;
	margin-bottom:8px;
	background:#FFF;
	box-shadow:0px 0px 1px rgba(0,0,0,0.5);
}
#sortable-dps>li>input, #sortable-hps>li>input {
	float:right;
	border:0px;
	padding-left:5px;
	width:50px;
	background:#FFF;
	border:1px solid rgb(187, 158, 233);
	height:20px;
}
#sortable-hps { margin-left:14px;}
#sortable-dps>li[data-view=true], #sortable-hps>li[data-view=true] {
	background:#9C77D5; color:#FFF;
}
.allowbtn {
	background:#9C77D5; padding:5px; color:#FFF; text-align:center; line-height:20px;
}
.allowbtn:hover {
	background:rgb(187, 158, 233);
}
@keyframes alert {
	0% {
		transform: scale(1.0) scaleX(1.0);
	}
	100% {
		transform: scale(1.2) scaleY(1.32);
		opacity: 0;
	}
}